langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langgraph
openai
faiss-cpu
pypdf
pydantic
python-dotenv
tavily-python
langchain-tavily
langchain-huggingface==1.2.2
sentence-transformers==6.0.0